<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<style>
h1 {color: #00bc8c;}
h1:hover {color: #FFFFFF;}
p {font-size: 14px !important;}
</style>
<table>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <h1><%= link_to post.title , post %><h1>
        <p align='right'>Posted <%= time_ago_in_words(post.created_at) %> ago</p>
        <hr>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

